body {
	background: #404040;
	color: #e77e23;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
}
div {
	width: 100%;
	min-height: 184px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -92px;
}
a {
	text-decoration: underline;
	color: #e77e23;
}
a:hover {
	text-decoration: none;
}
ul {
	padding: 0;
	margin: 30px 0 0;
	list-style-type: none;
	color: #808080;
}
li {
	display: inline-block;
}
li+li:before {
	content: ' | ';
}
em {
	color: white;
	display: block;
	background: #e77e23;
	height: 26px;
	line-height: 26px;
	font-style: normal;
}
